html {
  width: 99%;
  height: 90vh;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

button {
  width: 100px;
  height: 50px;
  font-weight: bold;
  cursor: pointer;
}
