.header {
  display: flex;
  align-items: center;
  height: 10.2vh;
}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo {
  max-height: 32px;
}
.title-group {
  padding-left: 15px;
}

.title-group i {
  padding-right: 5px;
}

.material-icons.color_white {
  color: #fff;
}
